{% extends 'adminLayOut.html' %}

{% block body %}

<div>
	<h2> Edit Whisky </h2>
</div>

<div>
	<form action="" method="post">
		<div>
		<label for="WhiskyName">Name</label>
		<input type="text" name="WhiskyName" />
		</div>

		<div>
		<label for="Price">Price</label>
		<input type="number" name="Price" />
		</div>

		<div>
		<label for="Nation">Nation</label>
		<input type="text" name="Nation" />
		</div>

		<div>
		<label for="Distillery">Distillery</label>
		<input type="text" name="Distillery" />
		</div>

		<div>
		<label for="Region">Region</label>
		<input type="text" name="Region" />
		</div>

		<div>
		<label for="Alohol">Alcohol</label>
		<input type="text" name="Alohol" />
		</div>

		<div>
		<label for="StorageLeft">Storage Left</label>
		<input type="number" name="StorageLeft" />
		</div>

		<div>
		<input type="submit" value="Add">
		</div>
	</form>
</div>
{% endblock %}
