<!DOCTYPE html>
<html>
<head>

<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
</style>
    <title>Whisky master</title>
    <style>
        div {
            text-align: center;
        }
    </style>
</head>
<body>
    <div>

        <h2>Whisky Master</h2>
        <p>This is the admin Page</p>

        <form action="" method="post">
            <label for="filter">Filter</label>
            <select id="filder" name="filter">
                <option value="all">All</option>
                <option value="active">Active</option>
                <option value="deactive">Deactive</option>
            </select>
            <input type="submit" name="filer">
        </form>


        <p>

        </p>

        <table>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Storage Left</th>
                <th>Price</th>
            </tr>

            {% for item in inventory %}
            <!--Jinja Loop starts at 1 and not zero-->
            <tr>
                <th> {{item['WhiskyID']}}</th>
                <th> <a href="/admin/editwhisky/{{item['WhiskyID']}}">{{item['WhiskyName']}}</a> </th>
                <th>
                    <form action="" method="post">
                        <input type="number" placeholder={{item['StorageLeft']}} name="{{item['WhiskyID']}}" />
                    </form>
                </th>
                <th> {{item['Price']}} kr/st </th>
            </tr>
            {% endfor %}

        </table>

    </div>
</body>
</html>
