<!DOCTYPE html>
<html>
<head>
    <style>
        ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
        }

        li {
            display: inline;
        }

        div {
            text-align: center;
        }
		div {text-align: center;}
		table.center {
    		margin-left:auto;
    		margin-right:auto;
  		}
		table, th, td {
  			border: 1px solid black;
  			border-collapse: collapse;
		}
		th, td {
			padding: 10px;
		}
    </style>
</head>
<body>

    <div>
        <ul>
            <li><a href="/admin">admin</a></li>
            <li><a href="/admin/uploadImage">Upload Image</a></li>
        </ul>



    </div>

    {%block body%}
    {%endblock%}

</body>
</html>
