<!DOCTYPE html>
<html>
<head>
    <title>Whisky master</title>
    <style>
        div {
            text-align: center;
        }
    </style>
</head>
<body>
    <div>

        <h2>Whisky Master</h2>
        <p>Here we sell Whisky to companies</p>


        {% for item in message %}
        <!--Jinja Loop starts at 1 and not zero-->
        <p>
            {{whiskyID[loop.index-1]}}
            <a href="../whisky/{{whiskyID[loop.index-1]}}">{{ item }}</a>
            {{storage[loop.index-1]}}
        </p>
        {% endfor %}

    </div>
</body>
</html>