{% extends 'layOut.html' %}

	{% block body %}



<div>

	<h2>Whisky Master</h2>
	<p>Your Basket it here</p>

	<table class="center">

		<tr>

			<th>ID</th>
			<th>NAME</th>
			<th>Quantity</th>
			<th>Price</th>

		</tr>
		{% for item in basket %}
		<tr>
			<th> {{item['WhiskyID']}}</th>
			<th> {{item['WhiskyName']}} </th>
			<th> {{item['Quantity']}} st </th>
			<th> {{item['Price']}} kr/st </th>
			<th>
				<form action="" method="post">
					<input type="submit" value="Delete" name="{{item['ID']}}" />
				</form>
			</th>
		</tr>
		{% endfor %}

		<th colspan="2"> Total Price </th>
		<th colspan="2"> {{price}} kr </th>

	</table>


</div>




{% endblock %}
