{% extends 'layOut.html' %}

	{% block body %}



<div>

	<h2>Whisky Master</h2>

	{%if basket|count != 0%}
	<table class="center">

		<tr>

			<th>ID</th>
			<th>NAME</th>
			<th>Quantity</th>
			<th>Price</th>

		</tr>
		{% for item in basket %}
		<tr>
			<th> {{item['WhiskyID']}}</th>
			<th> {{item['WhiskyName']}} </th>
			<th>
				<form action="" method="post">
					<input type="number" placeholder={{item['Quantity']}} name="{{item['ID']}}" />
				</form>
			</th>
			<th> {{item['Price']}} kr/st </th>
		</tr>
		{% endfor %}

		<th colspan="2"> Total Price </th>
		<th colspan="2"> {{price}} kr </th>
	</table>
	{%else%}
	<p>You have an empty basket.</p>
	{%endif%}


</div>




{% endblock %}
