{% extends 'adminLayOut.html' %}

{% block body %}

<div>
	<h2> Edit Whisky </h2>
</div>

<div>

	<table class="center">
		<tr>
			<th> Name </th>
			<th>
				<form action="" method="post">
					<input type="text" placeholder={{whisky['WhiskyName']}} name="WhiskyName" />
				</form>
			</th>
		<tr>
			<th> Price </th>
			<th>
				<form action="" method="post">
					<input type="number" placeholder={{whisky['Price']}} name="Price" />
				</form>
			</th>
		</tr>
		<tr>
			<th> Nation </th>
			<th>
				<form action="" method="post">
					<input type="text" placeholder={{whisky['Nation']}} name="Nation" />
				</form>
			</th>
		</tr>
		<tr>
			<th> Distillery </th>
			<th>
				<form action="" method="post">
					<input type="text" placeholder={{whisky['Distillery']}} name="Distillery" />
				</form>
			</th>
		</tr>
		<tr>
			<th> Region </th>
			<th>
				<form action="" method="post">
					<input type="text" placeholder={{whisky['Region']}} name="Region" />
				</form>
			</th>
		</tr>
		<tr>
			<th> Alcohol </th>
			<th>
				<form action="" method="post">
					<input type="text" placeholder={{whisky['Alohol']}} name="Alohol" />
				</form>
			</th>
		</tr>
		<tr>
			<th> Storage Left </th>
			<th>
				<form action="" method="post">
					<input type="number" placeholder={{whisky['StorageLeft']}} name="StorageLeft" />
				</form>
			</th>
		</tr>
		<tr>
			<th> Grade </th>
			<th>
				{{grade['AVG(Grade)']}}
			</th>
		</tr>

	</table>
	{%if whisky['Active'] == True%}
		<div>
			<form action="" method="post">
				<input type="submit" name="dont" value="Don't Carry" />
			</form>
		</div>
	{%else%}
		<div>
			<form action="" method="post">
				<input type="submit" name="do" value="Carry" />
			</form>
		</div>
	{%endif%}

</div>

<p>

	<div>
		<table class="center">
			<tr>
				<th>Comment ID</th>
				<th>Username</th>
				<th>Comment </th>

			</tr>
			{% for item in comments %}
			<!--Jinja Loop starts at 1 and not zero-->

			<tr>
				<th>{{item['ID']}}</th>
				<th> {{item['UserName']}}</th>
				<th> {{item['Comments']}} </th>

			</tr>


			{% endfor %}
		</table>
	</div>

</p>

{% endblock %}
