<!DOCTYPE html>
<html>
<head>
	<title>Whisky master</title>
	<style>
		div {text-align: center;}
	</style>
</head>
<body>
	<div>

		<h2>Whisky Master</h2>
		<p>Here we sell Whisky to companies</p>

		<!-- <a href="https://whiskymaster.serrander.xyz">Whisky We have right now.</a> -->
		<a href="/whisky">Whisky We have right now.</a>

		<p>
			<a href="/login">Login.</a>
		</p>


		<p><img src="/static/whiskyvsWhiskey.png" width="500em"></p>

		<p>Time right now is {{ content }}</p>

	</div>

</body>
</html>
