<!DOCTYPE html>
<html>
<head>
    <style>
        ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
        }

        li {
            display: inline;
        }

        div {
            text-align: center;
        }
    </style>
</head>
<body>

    <div>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/whisky">Whisky</a></li>
            <li><a href="/login">Login</a></li>
            <li><a href="/basket">Basket</a></li>
        </ul>


    </div>

    {%block body%}
    {%endblock%}

</body>
</html>
