{% extends 'layOut.html' %}

	{% block body %}


<div>

	<h2>{{message['WhiskyName']}}</h2>
	<p> Test test test </p>

	<p>
		{% if message['Picture'] %}
		<img class="center" src="/static/{{message['WhiskyID']}}.jpg" width="500em">
		{% else %}
		<img class="center" src="/static/placeHolder.jpg" width="500em">
		{% endif %}
	</p>
</div>
<div>

	<table class="center">
		<tr>
			<th> Price </th>
			<th> {{message['Price']}} kr</th>
		</tr>
		<tr>
			<th> Nation </th>
			<th> {{message['Nation']}} </th>
		</tr>
		<tr>
			<th> Distilery </th>
			<th> {{message['Distillery']}} </th>
		</tr>
		{% if message['Region'] != None %}
		<tr>
			<th> Region </th>
			<th> {{message['Region']}} </th>
		</tr>
		{% endif %}
		<tr>
			<th> Alcohol </th>
			<th> {{message['Alohol']}} </th>
		</tr>
		<tr>
			<th> In stock </th>
			<th> {{message['StorageLeft']}} st</th>
		</tr>
		<tr>
			<th> Rating </th>
			<th> {{grade['AVG(Grade)']}} </th>
		</tr>
	</table>

</div>
<p>
	<div>

		Would you like to rate it 1-100

		<form action="" method="post">
			<div>
				<label for="rate">Rate</label>
				<input type="number" max="100" min="1" name="rate" />
			</div>
		</form>
	</div>
</p>


<p>
	{% if message['StorageLeft'] > 0 %}
	<div>
		How many would you like to buy?
	</div>
	<form action="" method="post">
		<div>
			<label for="addToCart">Add to Cart</label>
			<input type="number"  min="1" name="addToCart" />
		</div>

		<div>
			<input type="submit" value="submit" name="add">
		</div>
	</form>

	{% else %}
	<div>
		Sorry We are out of stock right now.
	</div>
	{% endif %}
</p>

<p>

	<div>
		<table class="center">
			<tr>
				<th>Username</th>
				<th>Comment </th>

			</tr>
			{% for item in comments %}
			<!--Jinja Loop starts at 1 and not zero-->

			<tr>
				<th> {{item['UserName']}}</th>
				<th> {{item['Comments']}} </th>

			</tr>


			{% endfor %}
		</table>
	</div>

</p>

<div>

	<form action="" method="post">

		<div>
			<label for="Comments">Comments</label>
					<input type="text" name="Comments" />
		</div>
	</form>

</div>

	{% endblock %}
