{% extends 'layOut.html' %}

	{% block body %}


<div>

	<h2>{{message['WhiskyName']}}</h2>
	<p> Test test test </p>

	<p>
		{% if message['Picture'] %}
		<img class="center" src="/static/{{message['WhiskyID']}}.jpg" width="500em">
		{% else %}
		<img class="center" src="/static/placeHolder.jpg" width="500em">
		{% endif %}
	</p>
</div>
<div>

	<table class="center">
		<tr>
			<th> Price </th>
			<th> {{message['Price']}} kr</th>
		</tr>
		<tr>
			<th> Nation </th>
			<th> {{message['Nation']}} </th>
		</tr>
		<tr>
			<th> Distilery </th>
			<th> {{message['Distillery']}} </th>
		</tr>
		{% if message['Region'] != None %}
		<tr>
			<th> Region </th>
			<th> {{message['Region']}} </th>
		</tr>
		{% endif %}
		<tr>
			<th> Alcohol </th>
			<th> {{message['Alohol']}} </th>
		</tr>
		<tr>
			<th> In stock </th>
			<th> {{message['StorageLeft']}} st</th>
		</tr>
	</table>

</div>
<p>
	{% if message['StorageLeft'] > 0 %}
	<div>
		How many would you like to buy?
	</div>
	<form action="" method="POST">
		<div class="container">
			<div>
				{{ form.addNumber}}
			</div>
			{{ form.submit }}
			<label>
			</label>
		</div>
	</form>
	{% else %}
	<div>
		Sorry We are out of stock right now.
	</div>
	{% endif %}
</p>

<p>

	<div>
		<table class="center">
			<tr>
				<th>Username</th>
				<th>Comment </th>

			</tr>
			{% for item in comments %}
			<!--Jinja Loop starts at 1 and not zero-->

			<tr>
				<th> {{item['UserName']}}</th>
				<th> {{item['Comments']}} </th>

			</tr>


			{% endfor %}
		</table>
	</div>

</p>

<div>



</div>

	{% endblock %}
